  <header class="Cabecera">
    <h3>Tabla de producto</h3>
    </header>
<table>
  <thead>
    <tr>
      <th> Nombre de producto </th>
      <th>Descripción</th>
      <th>Precio unitario</th>
      <th>Codigo</th>
      <th>Stock de producto </th>
      <th>Categoria </th>
    </tr>
  </thead>
 
 
 <tbody>
    <tr>
      <td>{{productos.title}}</td>
      <td>{{productos.description}}</td>
      <td>{{productos.price}}</td>
      <td>{{productos.code}}</td>
      <td>{{productos.stock}}</td>
      <td>{{productos.category}}</td>
    </tr>
  </tbody>
</table>